[2015-11-19 19:48] mwarkentin opened #4 "Heroku button"
It'd be awesome to have a [Heroku Button](https://devcenter.heroku.com/articles/heroku-button) to launch this easily on Heroku.

[2015-11-19 20:25] vjeux commented on #4
Can you explain what's the use case? I'm not really sure I understand

[2015-11-19 20:39] mwarkentin commented on #4
It gives you a button right in the Github readme that would let anyone easily launch their own mention-bot instance on Heroku.

Here's an example for launching a Hubot: https://github.com/hipchat/triatomic

There are many other examples here: https://elements.heroku.com/buttons

[2015-11-19 20:39] mwarkentin commented on #4
If I have some time I could take a swing at it later (probably on the weekend).

[2015-11-19 20:41] vjeux commented on #4
Nice. If you send a pull request that sets it up, I'll gladly accept it :)

[2015-11-19 20:44] mwarkentin commented on #4
Sounds good!

[2015-11-19 21:06] perplexes opened #5 "Org members?"
Does this limit the "owners" of code to org members? We have a lot of code that was written by people who no longer work here.

[2015-11-19 21:09] vjeux commented on #5
It does not. It pings whoever has the blame. I was actually pretty surprised on react-native as it pinged a lot of people not working at Facebook.

Do you have a suggestion on how to fix that?

[2015-11-19 21:10] vjeux commented on #4
It's live!

[2015-11-19 21:10] #4 closed

[2015-11-19 21:11] mwarkentin commented on #4
@vjeux Hah.. I decided to go ahead and do it myself, guess I was a bit too slow. :)

Maybe see if any of the extra stuff I provided in `app.json` is valuable and merge them in?

[2015-11-19 21:14] vjeux commented on #4
Sure, can you update your pull request to rebase and add this additional info?

[2015-11-19 21:18] mwarkentin commented on #5
You could take in an list of "valid organizations" as an environment variable, ping the [org api](https://developer.github.com/v3/orgs/members/) and filter based on that.

Feels like the use cases might be different depending on if the project is private or public - not sure what happens if you mention someone who doesn't have access on a private project. Maybe for private repos, it could hit the

[2015-11-19 21:22] perplexes commented on #5
It'd also be nice to filter out specific people. For a long time at our company there was just one/two people so they have their names on everything. Now we're at 8 engineers, so it'd be more appropriate to ping the next-best candidate.

[2015-11-19 21:27] vjeux commented on #5
Right now the bot doesn't work on private repos because it hits the website and is not authenticated by the way.

[2015-11-19 21:55] alanctkc opened #8 "Private repos"
I'm attempting to do a little rewriting of the diff/blame download to respect `GITHUB_TOKEN` and open mention-bot up to be used on private repos.

I was thinking something roughly along these lines (WIP): https://github.com/facebook/mention-bot/compare/master...alanctkc:private-repos

Seems, however, since the bot is just hitting the HTML blame route and doing parsing there (and I can't find any t

[2015-11-19 22:02] vjeux commented on #8
Yeah, I originally wanted to develop it on a private repo but sadly there's no apis for blame and diff. The way I used to workaround that on previous projects is to actually go through the normal website auth flow and maintain cookies across requests. (If you are curious, see this PHP project I wrote that does that: https://github.com/vjeux/phpFileDownload )

If you feel like implementing this, sh

[2015-11-19 22:09] alanctkc commented on #8
Man, that sounds crazy. I'm not beyond hacks like that, though if it can work for such a common use case. :rocket:

My only qualm.. does that lean on the actual GH account password? I wish I could keep it token-based still to not get weird with passwords. The diff part can be retrieved using the API+token with the right `Accept` header: https://github.com/alanctkc/mention-bot/blob/0af264e9ea382a54

[2015-11-19 22:14] vjeux commented on #8
Another way to get the blame would be to `git clone` the repo, do `git blame` and then do an http request to get the github username (instead of the git email). This would avoid storing the password but be super slow and wasteful.

[2015-11-19 22:19] skyhighwings commented on #8
It'd be "super slow and wasteful" for a public service, but for an internal CR bot it'd be totally acceptable, especially if it cached the repo + usernames.

[2015-11-19 22:20] vjeux commented on #8
@skyhighwings good point :) Want to give it a try?

[2015-11-19 22:24] skyhighwings commented on #8
I can give it a look but I'm really busy right now as a result of working on moving across the USA. I'll have more time to check it out in a month :disappointed:

I don't mean to diminish the work on this — it's super awesome! I'll probably end up using it on personal projects.

[2015-11-19 22:24] skyhighwings commented on #8
@vjeux I can give it a look but I'm really busy right now as a result of working on moving across the USA. I'll have more time to check it out in a month :disappointed:

I don't mean to diminish the work on this — it's super awesome! I'll probably end up using it on personal projects.

[2015-11-19 22:50] skyhighwings commented on #8
Some resources I've got from poking through the code:

So currently, as I see it, we get the diff via the following:
https://github.com/facebook/mention-bot/blob/master/mention-bot.js#L287

To facilitate this, there needs to be some easy way to get the diff of a specified PR. With https://developer.github.com/v3/pulls/ we're able to get the data requisite to fetch the given remote (`.head.repo.git

[2015-11-20 00:01] vjeux commented on #8
@skyhighwings the blame info gives you the author as an email but -also the commit- which was responsible. You can query github API for the commit and get the github username from it :)

[2015-11-20 01:52] paked opened #9 "Add custom message"
I think it'd be pretty great if a custom message could be supplied for the bot to comment with on PRs.

[2015-11-20 01:56] skyhighwings commented on #8
@vjeux oh, thanks! that's valuable information. I'll keep poking at this when I have spare time.

[2015-11-20 02:27] GrayHatter commented on #5
How hard would it be to implement a whitelist or blacklist?

[2015-11-20 02:28] GrayHatter commented on #5
Or check the blame, and only tag them if the last "blame commit" was x days/weeks/months ago

[2015-11-20 02:47] vjeux commented on #5
Would be pretty easy. Pull requests are welcome :)

Also, one great thing is that you can run it on existing pull requests and just output the list of names. This way you can iterate over the algorithm to get what you are hoping for.

[2015-11-20 02:54] vjeux commented on #9
I'm curious, what message would you like instead? Maybe we can improve the default one.

[2015-11-20 02:55] freakabcd opened #11 "patent grant?"
At tne end of the README, in the License section, you have:

``mention-bot is BSD-licensed. We also provide an additional patent grant.``

What is this patent grant you mention?

[2015-11-20 03:07] jgardella commented on #5
I've started implementing user blacklisting and requiring of organization membership on my fork. I haven't worked with the GitHub API before so any help is appreciated!

I'd be interested to hear from @vjeux if you have any ideas about how to allow repos to have their own configuration settings that the bot can parse? Or if that's even a direction you would want to take this.

[2015-11-20 03:15] zekenie commented on #8
It would be so awesome to have this for private repos!

[2015-11-20 03:23] vjeux commented on #5
We're using a completely different implementation at Facebook so this is pretty much only for the community. If you want to add configurations, I'm all for it :)

[2015-11-20 03:25] jgardella commented on #5
How are repo-specific configurations usually done for these bots? A config file in the repo source that the bot parses?

[2015-11-20 03:35] mwarkentin commented on #5
@jgardella That seems like the most straightforward way to me - also similar to how you'd configure Travis, CircleCI, etc.

Add a `.mentionbot` file in the root (yaml, json, or ini-style?) which the bot could check before running when a PR is created.

[2015-11-20 05:34] zackify commented on #8
Any plans for gitlab support? I figured that goes along with private repos.

[2015-11-20 05:50] vjeux commented on #8
@zackify none from me, but pull requests welcome

[2015-11-20 08:21] Schniz opened #12 "GitLab integration"
that would be nice :santa:

[2015-11-20 10:44] papucho commented on #12
That would be awesome!

[2015-11-20 15:44] alanct-minted commented on #8
So, the best option as I see it (and as @vjeux suggested) is to use the `GITHUB_TOKEN` to `git clone` over https: https://help.github.com/articles/git-automation-with-oauth-tokens/

Nodegit will probably be helpful here: http://www.nodegit.org/api/cred/#userpassPlaintextNew

Then, do a `git blame` on that repo and parse as usual from there. Obviously it would require git to be installed on web nod

[2015-11-20 16:08] zekenie commented on #8
Forgive me if this is a painfully obvious question or if we've already addressed this in the thread.

We need to:
- upon PR clone down master
- reproduce [this](https://github.com/facebook/mention-bot/blob/master/mention-bot.js#L305) without hitting that blame url?
- implement a `parseBlame` for git/node-git's blame output

Is that correct? I might take a stab at this this weekend, but no promises

[2015-11-20 16:23] alanctkc commented on #8
@zekenie Bingo, I think that's exactly how I'd imagine it!

A couple smallish things to consider:

- It would be good to double-check whether or not the repo exists and do a pull instead of clone on the PR event if the repo exists (new deployment vs "cached" repo)
- To translate the `git blame` output back into mentionable GH usernames, you'll likely have to parse out the git commit shas for each

[2015-11-20 16:35] alanctkc commented on #8
Actually, this may be a nice approach to make sure the local working tree is clean no matter what happened on the remote (instead of plain ol' pull): http://stackoverflow.com/a/8888015

[2015-11-20 16:35] mwarkentin opened #15 "Handle case where no reviewers found better"
Just got the following comment on a PR on one of my repos:

Two options:

* Improve messaging: `We were unable to identify any potential reviewers. Sorry!`
* Don't make a comment at all if no reviewers were found

[2015-11-20 16:40] vjeux commented on #15
Option #2 is currently implemented. However there's a bug where for some reason @none is being filled there somehow. A fix for this would be to just remove 'none' from the list at the end.

[2015-11-20 16:40] zekenie commented on #8
@alanctkc thanks!

[2015-11-20 16:42] vjeux commented on #12
I have no plans for implementing it but will accept a pull request :)

[2015-11-20 17:10] mwarkentin commented on #15
Looks like this is where it would need to be changed: https://github.com/facebook/mention-bot/blob/d6b84f924acf254ac885e4bae4fac2059ce03a01/mention-bot.js#L261-L281

[2015-11-20 17:18] andrewpile commented on #8
FWIW, you can get private repo diffs through the API by using [custom media types](https://developer.github.com/v3/pulls/#custom-media-types), in this case `application/vnd.github.diff`

For example:

[code]

[2015-11-20 20:54] rhyolight opened #16 "Don't suggest the PR author as the reviewer"
I've already seen this happen a few times, where the only person to blame is the author of the PR. In this case, it would be better not to comment.

[2015-11-20 21:13] vjeux commented on #16
Good catch! Would be pretty simple to implement if you have some time: when the list is done, remove the author before slicing the first three :) Pull request welcome.

[2015-11-20 21:14] vjeux commented on #11
This is the patent file: https://github.com/facebook/mention-bot/blob/master/PATENTS

For more context on this, I recommend reading this post which explains what it does and why we put it there: https://code.facebook.com/posts/1639473982937255/updating-our-open-source-patent-grant/

[2015-11-20 21:14] #11 closed

[2015-11-20 21:29] rhyolight commented on #16
Ok, I'll take a look. Can you assign to me?

---------
Matt Taylor
OS Community Flag-Bearer
Numenta

On Fri, Nov 20, 2015 at 1:13 PM, Christopher Chedeau <
notifications@github.com> wrote:

[2015-11-20 21:49] vjeux commented on #16
Sorry, github won't let me because you're not part of the facebook organization :(

[2015-11-21 01:55] mentionbottest opened #17 "Testing instructions"
I made an account for my bot, and was able to get it to comment on the example PR, but I'm not clear on how I can use my version of the bot on one of my repos to test if my changes are working correctly. Could more detailed instructions be added on how to test?

[2015-11-21 02:39] vjeux commented on #17
You need to host your bot somewhere (heroku is pretty easy to get started with) and add the url where it is hosted at as a webhook.

If you get it working and want to submit a pull request with the instructions that would be great

[2015-11-21 06:45] jgardella commented on #17
Just realized I accidentally commented with my bot's account. Whoops.

I was able to get the bot set up on heroku, and it's commenting on my test repo, but it always comments with "@none". This is using the original source of the bot, with none of my changes. I figure there must just be some step I'm missing. Any ideas, @vjeux?

[2015-11-21 15:46] vjeux commented on #17
I would put console.log in all the places and try to figure out what's going on.

[2015-11-21 15:59] vjeux commented on #16
https://github.com/facebook/mention-bot/pull/19 fixed it!

[2015-11-21 15:59] #16 closed

[2015-11-21 17:29] vjeux commented on #15
Fixed: https://github.com/facebook/mention-bot/commit/50638bdcb6413b297f2bd292bb9d5ebc752261f4

[2015-11-21 17:29] #15 closed

[2015-11-21 19:15] jgardella commented on #17
I looked into this a bit more, and I discovered the blame was not being parsed correctly. For some reason, the HTML for my test repo does not match the form that is expected. The regex in the parseBlame function is searching for `rel="contributor"`, as seen in [the HTML for this blame](https://github.com/facebook/mention-bot/blame/master/README.md), but if you inspect the [HTML on the blame of my

[2015-11-21 19:36] Schniz commented on #12
Great👍🏻
Hope I'll have free time tomorrow

[2015-11-21 21:53] #8 closed

[2015-11-22 00:07] zekenie commented on #9
I thought it would be cool if the reviewer member names were github checkboxes

- [ ] like
- [ ] this

[2015-11-22 00:11] paked commented on #9
@vjeux I think it just becomes a bit repetitive. Perhaps it could pick randomly from a list of possible options?

@zekenie what function would the checkbox serve though?

[2015-11-22 00:14] zekenie commented on #9
Something like "I'll take it." I don't think it'd be a good universal message, but it would work well in my organization. Often it mentions too many people.

[2015-11-22 05:10] imcaffrey opened #23 "No comment in my PR"
I ran this mention-bot on heroku, and I set up the webhooks as required.

I can see from the log that my bot received the webhook and checked the blame.

But I don't get a comment in my PR.

I wonder what might be causing this problem? Thanks.

[2015-11-22 15:27] vjeux commented on #23
What is the pull request? i can take a look and see what's going on

[2015-11-22 15:36] imcaffrey commented on #23
@vjeux Thanks! The link is here: https://github.com/24OI/Standard_Code_Library/pull/22

I didn't paste my log here because I didn't understand which part contained my persona info.

[2015-11-22 16:08] vjeux commented on #23
So, you added a file here. Because there was no pre-existing code, there is no one we can look for in the blame.

I made the explicit decision of the bot being silent when this happens because we don't want to send an email with absolutely no useful information.

Try sending a pull request that edits a file instead (which you are not the sole committer on)

[2015-11-22 16:30] #23 closed

[2015-11-22 17:50] udnisap opened #24 "Add global configuration variable with a default of 3 on number of people to be added for review"
It is currently hardcoded at https://github.com/facebook/mention-bot/blob/master/mention-bot.js#L300
Is this a desirable feature?

[2015-11-22 18:31] mwarkentin commented on #17
I think the author / contributor thing should be fixed when https://github.com/jgardella/mention-bot/commit/06eda49796e081d24afbe27c25262d3709ac68cc#diff-075b835dda5f5878dfe639e1b26406c6R136 is merged.

[2015-11-23 01:13] jgardella commented on #5
So, my PR  that just got merged adds support for a config file `.mention-bot`, and a config property for blacklisting users, so they never get mentioned.

The other option brought up in this issue, setting required organizations, is a bit more complicated. The wrapper we're using for the GitHub API makes async calls, but the way the bot is currently structured, it does everything synchronously (do

[2015-11-23 02:38] zekenie commented on #5
It seems like a great idea to make it async especially because its an http
server. It also seems like it needs to be all sync or all async. It seems
like a solid chunk of work, but I'd be happy to take a stab over
thanksgiving

On Sun, Nov 22, 2015 at 7:13 PM, Jason Gardella <notifications@github.com>
wrote:

[2015-11-23 04:19] vjeux commented on #5
If you are going the async route, please use async/await with babel. This makes the code look like it is synchronous

[2015-11-23 04:35] vjeux commented on #24
Sure, if you implement it, I'll take it :)

[2015-11-23 04:49] imcaffrey commented on #23
@vjeux Thanks for your help.

From the log I noticed that my bot got the blame from here: https://github.com/24OI/Standard_Code_Library/blame/master/c++/String/README.md

You can see that the original author didn't have a valid email.

I think the problem results in here.

[2015-11-23 05:14] imcaffrey commented on #23
The diff is here : https://patch-diff.githubusercontent.com/raw/24OI/Standard_Code_Library/pull/11.diff

Here is a part of the log file. It's crazy that I didn't get info from the bot. What might be wrong then?

[code]

[2015-11-23 05:18] vjeux commented on #23
Can you put console.log everywhere and see where it stops working? :)

[2015-11-23 06:23] imcaffrey commented on #23
@vjeux Thanks. It seems that heroku doesn't allow an ssh connection to my app? So the only way out is to push with git? I'll be checking this.

[2015-11-23 07:07] imcaffrey commented on #23
@vjeux I've found out the problem.

In my log it showed that the 'data.action' was not 'opened', but 'synchronize' instead

https://github.com/facebook/mention-bot/blob/master/server.js#L70-L72

So I commented the lines and it is working now: https://github.com/24OI/Standard_Code_Library/pull/11#issuecomment-158864788

https://github.com/imcaffrey/mention-bot-24oi/commit/0aabe7345adb22fb059c53ca0d

[2015-11-23 07:44] udnisap opened #29 "mention bot generator with a cli interface"
Based on the current implementation based on the my understanding, user needs to checkout the project add the configuration on the project it self and then deploy to a server.
How about a `yo` generator that asks these configurations and setup a project that can be deployed to a server. This can be distributed via `npm` as a generator and people can use this like

[code]

[2015-11-23 08:49] imcaffrey commented on #23
My fault here. I didn't open a PR. I just used an old PR, so it's action was not 'opened'.

Sorry for bothering. I now understand how it works.

[2015-11-23 08:49] imcaffrey commented on #29
:+1:

[2015-11-23 12:12] udnisap commented on #29
@vjeux any suggestions, ideas. I can work on this if this is a desirable feature.

[2015-11-23 13:08] imcaffrey commented on #23
Perhaps there should be an option... people like me hope that the lines to be like this:

[code]

[2015-11-23 13:21] zekenie commented on #5
Never done that before but doesn't that require something like Koa instead of express?

Sent from my iPhone

[2015-11-23 15:28] jgardella commented on #24
I have this implemented on my fork, I'll submit a PR later today.

[2015-11-23 16:12] zekenie commented on #29
I'm not sure this is needed because the only configuration needed is
environment variables. I think Yo is a good tool for pre-configiruing code.
Perhaps it could be nice to write the new config file but it feels like
using a chainsaw to cut bread.

On Mon, Nov 23, 2015 at 6:12 AM, Pasindu Perera <notifications@github.com>
wrote:

[2015-11-23 16:53] udnisap commented on #29
I like the analogy. :point_up:

[2015-11-23 17:19] vjeux commented on #23
I don't really want to add more logging than necessary here. If people have trouble setting it up they can add console.log themselves.

One thing we could add as logging is for every place where we stop, say why.

if (data.action !== 'opened') {
  console.log('Action is ', data.action, ' and not "opened", skipping);
}

[2015-11-23 17:36] vjeux commented on #5
Express requires you to manually call res.end(); So you can write the code as

[code]

[2015-11-23 17:53] vjeux commented on #29
Is there a real need for this? It seems to me like a lot of heavyweight work that's not going to be very useful. Closing for now, but feel free to comment if you really want something like this.

[2015-11-23 17:53] #29 closed

[2015-11-23 17:54] vjeux commented on #17
@none and rel issue have been fixed and a console.log has been added, so this should be better. Please re-open an issue with a more specific question if needs be :)

[2015-11-23 17:54] #17 closed

[2015-11-23 18:32] zekenie commented on #5
would it be better to just use promises heavily?

On Mon, Nov 23, 2015 at 11:36 AM, Christopher Chedeau <
notifications@github.com> wrote:

[2015-11-23 18:44] vjeux commented on #5
Async await is using promises under the hood. It's just a 100x better way to write async code. Just try it and I promise you won't want to go back to raw promises ;)

[2015-11-23 19:14] zekenie commented on #5
The express server isn't doing too much... I'm kind of into trying koa... would you be open to that?

[2015-11-23 19:19] vjeux commented on #5
Sure, have fun with it.

[2015-11-24 05:01] lordzero0000 opened #30 "Slack/Flowdock/Hipchat integration"
This would help a lot of developer teams.

[2015-11-24 05:02] imcaffrey commented on #23
@vjeux I agree with you. It might be better to add log messages before the res.end() part.

[2015-11-24 05:23] vjeux commented on #23
Send a pull request my way :)

[2015-11-24 08:25] phase commented on #9
I think it's a little verbose for just mentioning people that may want to review the PR. I think...

...could be changed to...

But a config variable would be the best option.

[2015-11-24 08:49] paked commented on #9
:+1:

On Tue, 24 Nov 2015 7:25 pm phase <notifications@github.com> wrote:

[2015-11-24 14:36] imcaffrey commented on #23
@vjeux Did you mean things like this? https://github.com/imcaffrey/mention-bot/commit/884bf49812f78f5d8bba97d74e9a4106508f67f2

[2015-11-24 15:23] udnisap commented on #24
I can help if you need

[2015-11-24 15:24] udnisap commented on #9
@jgardella can this be added too?

[2015-11-24 15:34] vjeux commented on #23
Exact

[2015-11-24 15:39] georgecodes commented on #9
I came up with [this](https://github.com/facebook/mention-bot/pull/31) if it helps.

[2015-11-24 16:40] paked commented on #9
:+1:

[2015-11-24 16:53] georgecodes commented on #30
Wouldn't the existing GitHub integration for those apps be sufficient?

[2015-11-24 19:03] kaelig opened #33 "Empty response from the bot"
Thank you so much for this great tool.

I've deployed the bot at this address: https://mention-bot-salesforce-ux.herokuapp.com/
The setup was made using the "Deploy to Heroku" button and I followed the steps detailed in the README.

I've also tried to make it work locally and I get the same issue:
**When a PR is opened, the bot returns an empty response.**

Here is the Pull Request:

https://githu

[2015-11-24 19:22] zekenie commented on #33
Hi @kaelig can you give a link to the pr you opened. here are some thoughts:

- You might be using a private repo but might not have added github login info in env vars
- Your pr might not have lines changed or deleted (required to calculate mentions)

Another thought. I believe the bot will always return an empty response to github's webhook. It will simply make a second request to the github api

[2015-11-24 19:31] kaelig commented on #33
@zekenie the link to the PR is in my original post, can you access it? This is on a public repo, and lines did change.

Another bot (CLA Bot) I've setup had everything working but failed to comment.
Do you know what could cause that?

Note that the bot has admin access to the repository.
Does Two-factor authentication need to be activated on the account for commenting to work?

[2015-11-24 20:20] zekenie commented on #33
Hmm, very strange. We might need to add some logging code to see what's going on. I think the github token for the bot account just needs to be able to comment on repos.

[2015-11-24 22:10] kaelig commented on #33
Ok I think I may have found the issue.

The algorithm is comparing the PR to master. But our default branches have different names…

I'll be fixing that locally and if it works I'll do a PR.

[2015-11-25 06:09] udnisap commented on #33
You can change teh default branch from github as well

[2015-11-25 15:09] kaelig commented on #33
@udnisap

[2015-11-25 15:09] #33 closed

[2015-11-25 15:17] kaelig opened #35 "Compare to the target branch instead of master"
The algorithm compares PRs against master instead of the target branch of the PR.

In repos where there is no `master` branch, it even results in the bot not working.

[2015-11-25 16:19] vjeux commented on #35
A pull request to fix this is welcome :)

[2015-11-25 21:59] vjeux commented on #35
Fixed by https://github.com/facebook/mention-bot/pull/36

[2015-11-25 21:59] #35 closed

[2015-11-25 21:59] vjeux commented on #9
Fixed by https://github.com/facebook/mention-bot/pull/31

[2015-11-25 21:59] #9 closed

[2015-11-25 22:01] vjeux commented on #5
https://github.com/facebook/mention-bot/commit/3bfcc0a6187e1788d154ce809b20acbf77aa5351 added a blacklist. Closing this issue. If you want more configuration, please open up another issue :)

[2015-11-25 22:01] #5 closed

[2015-11-25 22:02] vjeux commented on #30
Can you provide a more complete explanation of how you want the integration to look like? I'm closing this but I'll re-open if you reply :)

[2015-11-25 22:02] #30 closed

[2015-11-25 22:03] vjeux commented on #12
I'm closing this for now since I'm not going to work on it. But feel free to open a pull request if you get it working :)

[2015-11-25 22:03] #12 closed

[2015-11-25 22:04] vjeux commented on #24
I'm closing this since I'm not going to work on it, but feel free to send a pull request if you get it working :)

[2015-11-25 22:04] #24 closed

[2015-12-01 08:41] vinhlh opened #44 "Blame 'none' issue"
![image](https://cloud.githubusercontent.com/assets/261283/11496001/e028cf34-9841-11e5-86ea-b8c33ed9e70d.png)

In this case, the blame value always is 'none'.

Do you guys think this is a bug?
So, will I create a PR.

[2015-12-01 14:22] vinhlh commented on #44
But there are no link, no way to get the username of the user.

[2015-12-01 19:06] vjeux commented on #44
Good catch, I forgot that it could happen. The way it is setup right now (I updated the code recently) is that we ignore all those 'none': https://github.com/facebook/mention-bot/blob/master/mention-bot.js#L295-L297

I think it's the right behavior since the goal of this is to ping people but if there's no github username this ping won't do anything.

Let me know if you think we should change the

[2015-12-01 19:06] #44 closed

[2015-12-02 02:30] vinhlh commented on #44
Agree!

[2015-12-02 07:13] Friss opened #47 "Github auth cookies does not work with GH:E"
In it's current form it always uses github.com and wouldn't try to auth with a GH:E instance.

[2015-12-02 10:28] dongweiming opened #48 "SyntaxError: Unexpected token ..."
Today i fetch the newest code. and got this error:

[code]

I am very confused

[2015-12-02 11:01] dongweiming commented on #48
Oh it's a ES7 feature.

i need do this:

[code]

[2015-12-02 17:26] vjeux commented on #47
Do you want to submit a pull request to fix it?

[2015-12-02 17:29] Friss commented on #47
Yeah I just didn't have a chance to pull out that one change as I was working on it. Figured I'd document the bug

[2015-12-02 17:30] #48 closed

[2015-12-02 17:31] vjeux commented on #47
Thanks :) Can't wait to see it!

[2015-12-05 17:24] jgardella commented on #5
@zekenie Have you put any work into the async? I'd like to give it a shot if not.

[2015-12-05 18:56] spwhitt opened #55 "File Blacklist"
It would be very useful if we could specify in the config that some files should be ignored by the bot.

Thanks for a great tool!

[2015-12-05 19:08] vjeux commented on #55
Pull request welcome :)

[2015-12-07 16:26] nkammah opened #56 "Unexpected token ILLEGAL when running npm start (for the first time)"
after running npm install, running npm start produces :

[code]
node version : v0.10.16
Any help appreciated!

[2015-12-07 17:14] vjeux commented on #56
I can reproduce on node v0.10.16, but if you upgrade to node 4, it works fine. My guess is that node now supports backtick natively so babel doesn't transform it anymore.

Few things that you can do:
- Upgrade to node 4
- Update the list of transforms to transform backticks so that it works on node 0.10

[2015-12-07 19:58] Friss commented on #56
Should probably update `engines` config in the `package.json` for the newer versions of node. I ran into this same problem.

[2015-12-07 20:02] vjeux commented on #56
@friss mind sending a pull request?

[2015-12-13 23:58] #56 closed

[2015-12-14 16:54] #47 closed

[2015-12-15 19:14] itsmeduncan opened #61 "Timing out when using the Deploy to Heroku button"
I just setup `mention-bot` on Heroku using the "Deploy to Heroku" button. All the webhooks are firing, but Heroku is timing out in about 30 seconds whenever I send a payload. I've tried this manually using cURL as well as the retry webhook function on GitHub. Any thoughts on why this might be happening? I bumped the server to a non-free one and it was still happening.

[2015-12-16 10:44] bbenoist commented on #61
@itsmeduncan I am suffering from similar timeout issues. Did you found a solution? :cry:

[2015-12-16 11:55] bbenoist commented on #61
#62 helped me remarking that the timeout was due to missing .mention-bot file.
After adding an empty one (i.e. `{}`), it seems to be OK...

[2015-12-16 17:00] bbenoist opened #64 "Add error message when the github login fails"
Hi,

I am still having issues making an Heroky instance of mention-bot work with my private repos.

Webhook seems to be transmitted successfully but mention-bot keeps printing "Skipping because there are no reviewers found" even when I modify files where there should be reviewers.

Here is the only log I have (actual URLs, IDs and IPs has been faked for privacy reasons):

I am not yet accustomed w

[2015-12-16 17:09] #61 closed

[2015-12-16 17:20] vjeux commented on #64
This is the line that's doing this console.log:
https://github.com/facebook/mention-bot/blob/master/server.js#L152-L155

There are two ways to debug this:

1) Easy but slow way: you add console.logs everywhere, do a `git commit`/`git push heroku master`, recreate a pull request and using `heroku logs --tail` see what's going on and repeat.

2) A bit more annoying but faster way: In https://github.

[2015-12-16 17:20] vjeux commented on #55
Closing this as there's been no activity.

[2015-12-16 17:20] #55 closed

[2015-12-16 18:49] bbenoist commented on #64
Thank you for this good and pragmatic help!

It seems that my problem comes from the GitHub authentication. This is the content of the `.diff` patch request:
[code]

[2015-12-16 18:59] bbenoist commented on #64
OMG :scream: I found out what the problem was!

The password I choosed for my bot GH account contained a `$` sign which was interpreted as an environment variable during the authentication :cry:

[2015-12-16 19:01] vjeux commented on #64
Oh noes :(

Would be nice to add proper error logging when the authentication fails. So that it shows up in the logs. Want to send a pull request?

[2015-12-16 19:56] bbenoist commented on #64
:+1: This would have made my debugging easier.

No that I don't want but as I am currently submerged by tasks, I would prefer it to be either assigned to someone else or left opened until someone (might still be myself) has enough time to take care of it.

Anyway, thank you again for your help and for your work on mention-bot. Everything seems to be working fine now :smiley:

[2015-12-16 20:40] vjeux commented on #64
Perfect! If you are bored during the weekend, you know what to do ;)

[2015-12-18 13:17] LukasReschke opened #66 "Exclude creator of PR from mentioning"
For example https://github.com/owncloud/core/pull/21287 should probably not mention our beloved @DeepDiver1975 :smile:

[2015-12-18 13:18] LukasReschke commented on #66
https://github.com/facebook/mention-bot/pull/19 claims to have fixed this. Spooky :ghost:

[2015-12-18 15:14] #64 closed

[2015-12-18 15:17] bbenoist commented on #64
@udnisap :+1:

[2015-12-18 17:17] vjeux commented on #66
How did you setup the bot? Maybe you have an older version?

[2015-12-18 17:26] LukasReschke commented on #66
We are lazy and just use mention-bot.herokuapp.com as described at https://github.com/facebook/mention-bot#how-to-use

[2015-12-18 17:39] vjeux commented on #66
Hmm this is sad then, I really thought it was fixed.

[2015-12-19 19:46] DeepDiver1975 commented on #66
... yes - we are ....

[2015-12-21 01:58] ad-m opened #67 "Exclude requires.io bot from mentiong on heroku instance"
Hello,

I suggest exclude  @requires from mentioning in default settings and on ```https://mention-bot.herokuapp.com/``` instance.

@requires is github bot too. It submit pull requests with updated dependencies (see fg. https://github.com/watchdogpolska/poradnia/pull/196 ). It is useless to mention bot about update of packages which it upgraded last time. mention-bot should notify person who added

[2015-12-21 16:28] jgardella commented on #67
This isn't a serverside setting, but is instead one of the repo-specific settings that can be set in your repo's `.mention-bot` file. Add @requires and any other bots to the `userBlacklist` in your config file, and they will never be mentioned. See [the example config](https://github.com/facebook/mention-bot/blob/master/CONFIG.md) for this and other settings you can define on a repo-by-repo basis.

[2015-12-21 16:42] #67 closed

[2015-12-22 17:44] jemise111 opened #68 "503 when getting blame information"
I'm trying to set up mention-bot on a private repo. I have a fork deployed to Heroku (so I could add some extra logging). Parsing the diff seems to be working just fine but it looks like I'm getting a request timeout when trying to get blame information. E.g. https://github.com/<repo>/blame/<branch>/<path_to_file>.

Any ideas why that might be happening?

(awesome project btw, I really hope I can

[2015-12-23 12:40] bbenoist opened #70 "Declare mandatory reviewers for files matching specific wildcards"
It would be nice to have the option to declare mandatory reviewers for specific files.

Some use-cases:

* Language-experts:

[code]

* Banned files:
[code]

* Specific directory:

[code]

* Translators

[code]

[2015-12-23 16:18] bbenoist opened #71 "404 Not Found for some PRs"
Hi,

I am experiencing issues with some created PRs which ends up with webhook request timeouts.

Here is the output from the `mention-bot` logs:

[code]

**Note:** This is not occurring on every PR, only on some specific ones.

Any clue about the reasons of these failures?

[2015-12-23 16:46] vjeux commented on #70
Check out the `alwaysNotifyForPaths` option in `.mention-bot` file

https://github.com/facebook/mention-bot#configuration

[2015-12-23 16:46] #70 closed

[2015-12-23 16:49] vjeux commented on #68
I have no idea I'm sorry :( Can you try to add console.logs and figure out where it breaks? Please re-open if you have more information.

[2015-12-23 16:49] #68 closed

[2015-12-23 16:50] vjeux commented on #71
I don't know what's going on here :x Can you try to investigate further and see if there's something special with those pull requests?

Please re-open if you have more information.

[2015-12-23 16:50] #71 closed

[2015-12-25 00:03] ad-m commented on #67
Thanks for you reply. Unfortunately, I think that the repo-level settings are not the best solution in all cases. I using org-level integration (see #41). If I have create repo-level settings to exclude @requires I lost benefits of org-level integration.

I can see two solutions:

 1. provide default ```userBlacklist``` server-side (for public bots only, sign-in by issues here, documented instance

[2016-01-06 10:19] bbenoist commented on #70
Thanks for info and sorry for not having RTFM.

[2016-01-06 10:22] bbenoist commented on #71
OK
All I know is that their content was quite big (subtree merge of multiple repos).

I will dig into that once I will have time

[2016-01-08 19:50] miketheman opened #76 "need for an account without 2FA?"
Hi gang,

We've really liked the ideas that you're putting together here, and wanted to try launching this for our org

Unfortunately, as part of our policy, any user with read access to our github repos _must_ have two-factor auth enabled, and I can see that from #64 and #75, this is currently not set up to work this way.

We were curious to know if anyone is working towards a nodegit token based

[2016-01-15 18:06] caarlos0 commented on #76
Hi @mikematas , I just started something like that, the only remaining problem is the blame download...

https://github.com/facebook/mention-bot/compare/master...caarlos0:cookie?expand=1

[2016-01-15 19:49] miketheman commented on #76
Poor Mike Matas, got pinged for unrelated. :grin:

@caarlos0 That indeed looks interesting - I found a python-based API method that might be interesting to read to get inspiration on how that might be done: https://github.com/hulu/restfulgit/pull/70/files

[2016-01-15 20:26] caarlos0 commented on #76
ooops, sorry @mikematas :(

[2016-01-15 20:26] caarlos0 commented on #76
@miketheman will take a look at home...

[2016-01-20 10:57] caarlos0 commented on #66
I think this is working this way already...

[2016-01-20 23:22] jcsmorais opened #80 "Add support for alternative ways of finding reviewers"
Hi guys,

I'm writing to ask you if there any future plans on adding support for alternative ways of finding reviewers, in my use-case I cannot rely on blame to find who should review certain changes since, for a various number of reasons, the person who touched that file recently might not be part of the team who is supposed to own it, with that in mind, having support for some sort of map betwee

[2016-01-20 23:36] vjeux commented on #80
No plans to implement anything of that sort but if you implement it and it makes sense, I see don't see a reason not to take it

[2016-01-22 00:29] jcsmorais commented on #80
Hi @vjeux I attached a PR in order to add support for the aforementioned behaviour let me hear your thoughts.

Basically I'm introducing a new config file called `findPotentialReviewers` which defaults to `true` (maintaining the current behaviour) but also opens the possibility to use the `alwaysNotifyForPaths` for guessing purposes only instead.

Thanks

[2016-01-22 01:40] #80 closed

[2016-01-22 16:19] jcsmorais opened #82 "Add support for multiple PR actions listening"
Hi guys,

I noticed that by default mention-bot only listens to `opened` action, in my use-case I need him to be able to listen to other actions as well, other people might have similar requirements too, so my proposal is that we introduce a new config flag called `actions` which defaults to `opened` (maintaining the current behaviour) but also opening the possibility to listen to other actions su

[2016-01-22 16:22] jcsmorais commented on #82
Proposed changes: https://github.com/facebook/mention-bot/pull/83

[2016-01-22 16:26] vjeux commented on #82
Why would you want to do it on synchronize? Do you want the bot to comment every time the person updates the pull request?

[2016-01-22 16:31] jcsmorais commented on #82
@vjeux yes, please see my comment [here](https://github.com/facebook/mention-bot/pull/83#issuecomment-173969068).

[2016-01-22 16:44] #82 closed

[2016-01-26 03:26] gyandeeps opened #85 "Programmatic API for consumption"
Is there any plans to provide a programmatic API for this awesome bot?

**Usecase:**
My use case is that I already have a bot which does some other work and I also want to include the work from this bot. So the idea is that I will manage the server and everything on my side, all I want from this API is that it takes in git info object (*needs further brainstorming*) and gives me back the message s

[2016-01-26 04:05] vjeux commented on #85
I don't have any plan to work on that but if you want it to happen, should be pretty easy, the code is already decoupled with a server and the logic. If you end up with something that is working, i'd happily take the pull request :)

[2016-01-26 22:38] #85 closed

[2016-01-26 22:59] vjeux commented on #66
I realized that I didn't push things to heroku in a long time. Probably didn't pick up the changes. Let me know if it's still not working.

[2016-01-26 22:59] #66 closed

[2016-01-30 19:05] tambry opened #87 "Mention-bot stopped working?"
Hi!

Recently mention-bot no longer seems to present on our repository.
The repository in question is [RPCS3/rpcs3](https://github.com/RPCS3/rpcs3)
Looking at the webhooks, the deliveries seem to succeed without any problems.
Any ideas what the issue could be?

Thanks in advance,
Raul

[2016-01-31 16:26] tambry commented on #87
Mention-bot seems to have reappeared!

[2016-01-31 16:26] tambry commented on #87
Mention-bot seems to have reappeared!

[2016-01-31 20:22] vjeux commented on #87
Sorry about that, i'm using the free plan for mention bot on heroku and they turn it off a few hours a day. Maybe i'll pay it up but that's a bit annoying :x

[2016-02-26 11:28] domenkozar commented on #87
Again?

[2016-02-26 11:29] tambry commented on #87
Well, yes. He said it doesn't work for a few hours of the day.

[2016-02-26 11:30] domenkozar commented on #87
What would the costs be

[2016-02-26 12:52] domenkozar commented on #87
@vjeux I'd happily organize sponsoring a heroku dyno for a year. How do we do that and how much it costs?

[2016-02-26 13:11] tambry commented on #87
Seems like Heroku Hobby is the first tier, that never sleeps and costs 7$/month, it would seem.

[2016-02-27 16:17] vjeux commented on #87
I just upgraded to hobby which is indeed $7/month. Please let me know if it's still broken for time to time

[2016-02-27 16:56] domenkozar commented on #87
Thanks!

On Sat, 27 Feb 2016, 16:18 Christopher Chedeau <notifications@github.com>
wrote:

[2016-02-28 09:04] domenkozar commented on #87
@vjeux is it running? I see no comments from the bot at https://github.com/NixOS/nixpkgs/pulls

[2016-02-28 17:16] alex opened #89 "Did @mention-bot go away?"
I can't seem to find the account any more, and it no longer seems to be leaving comments on our repo (`pyca/cryptography`).

[2016-02-28 19:52] vjeux commented on #87
Okay, so turns out that the bot got flagged by the bot detection script from github (how ironic). I contacted their support channel to get it back up.

"One of our mostly harmless robots seems to think you are not a human.
Because of that, it’s hidden your profile from the public. If you really are human, please contact support to have your profile reinstated. We promise we won’t require DNA proof

[2016-02-28 19:53] vjeux commented on #89
See https://github.com/facebook/mention-bot/issues/87#issuecomment-189933420

Hopefully it'll be back up soon. If it's critical for you, you can run your own instance and hope that it won't get flagged while the official one gets back online.

[2016-02-28 19:53] #89 closed

[2016-02-29 19:38] vjeux commented on #87
Github unbanned the bot. Should be good to go now :) Let me know if it is not the case

[2016-02-29 19:38] #87 closed

[2016-02-29 19:47] domenkozar commented on #87
:beers:

[2016-03-09 18:17] RandomlyKnighted opened #92 "Mention only users who are part of the repo's organization"
Hi, I'd like to bring this project up in one of our next project meetings. However, one of the concerns I know we'll have is the fact that we get PRs from the community and the reviewer is usually an expert in that field. Our GitHub organization is made up of two teams, the organization owners and the organization contributors. When someone has had several PRs approved they are added to the contri

[2016-03-09 18:48] vjeux commented on #92
This should be pretty easy to hack into the existing code if you are so inclined.

However, I would warn against doing that. This is going to spam the hell out of all the people in that contributor list as they are going to be automatically subscribed to the thread. I would suggest you to try it as is and if it doesn't work, then modify the script to do it.

[2016-03-10 19:22] bgw commented on #66
Still broken: https://github.com/ParsePlatform/parse-dashboard/pull/123

[2016-03-18 17:30] SuriyaaKudoIsc opened #94 "bunto-mention-bot is not working!"
Request for an answer for this issue to @vjeux!

----

I build a bot using mention-bot for the @Bunto organization. It's called @bunto-mention-bot.

The @bunto-mention-bot doesn't mention me as a potential reviewers on pull requests like this https://github.com/bunto/mention-bot/pull/3! I'm still not notified by this bot.

What should I do?

 - Source of the bunto-mention-bot: https://github.com/b

[2016-03-20 06:46] Deborah-Digges commented on #94
I see that the pull request is for changes to a `.md` file. Could this be the reason that it is not triggering notifications to you? I also see that your [.metion-bot](https://github.com/bunto/mention-bot/blob/master/.mention-bot#L17) blacklists `.md` files

[2016-03-20 09:35] SuriyaaKudoIsc commented on #94
@Deborah-Digges Still not working: https://github.com/bunto/mention-bot/pull/4!

[2016-03-21 13:05] Deborah-Digges commented on #94
This is happening because the algorithm is returning an empty list of reviewers for this particular PR. You can try it using the API:

[code]

You will see an empty list. If the list is empty, [the code](https://github.com/facebook/mention-bot/blob/master/server.js#L165) skips this particular pull request.

To avoid this, set the configuration for
[code]
in `.mention-bot` to avoid the list ever be

[2016-03-21 13:27] SuriyaaKudoIsc commented on #94
Should I add this to the **`server.js`**?:

[code]

[2016-03-21 13:30] Deborah-Digges commented on #94
No, this was something I ran in the node console just to see what's going on. Replace `ghuser` with the name of the default user for all pull requests.

[2016-03-21 13:33] SuriyaaKudoIsc commented on #94
With my name as a maintainer of the project or the user names of the all contributors?

[2016-03-22 17:20] SuriyaaKudoIsc commented on #94
@Deborah-Digges Add my name to it and it's still not working: https://github.com/bunto/mention-bot/pull/5 & https://github.com/bunto/mention-bot/pull/6!

[2016-03-29 11:25] Nikamura opened #100 "When trying to use in Programmatic API es7 errors"
Just using provided example produces:

[code]

[2016-04-08 05:20] nguyenchr opened #104 "requiredOrgs for private repos"
Hey it seems that github only returns public org memberships for a user (regardless of the authenticated user) https://developer.github.com/v3/orgs/#list-user-organizations

This is particularly difficult for private repos as this means most users will be filtered out unless they have publicly listed the org membership

The downside to this is that leaving `requiredOrgs` empty generally ends up no

[2016-04-08 05:31] nguyenchr commented on #104
also happy to make the fix, just wanted to get some feedback as to whether this is a good way forward

[2016-04-09 03:16] vjeux commented on #104
I didn't write this feature so I don't know much about it. If you could ping the person that did to get context that would be great. Otherwise if you have a pull request that fixes the problem, i'd be glad to take it

[2016-04-10 11:39] nguyenchr commented on #104
@vjeux no problem, I'll get onto it!

[2016-04-10 14:27] #104 closed

[2016-04-16 17:05] TheSavior opened #109 "I'd like to add Stash support"
I'd love to add attlassian stash support for this tool for us to consider using at work. Do you guys have any meta opinions on that?

I'd imagine the easiest way to do that is to pull the github code out into a separate module that has a clear set of hooks it registers with the mention-bot. We could then have a separate module that implements those hooks for stash and exposes its own configuration

[2016-04-16 17:30] vjeux commented on #109
mention bot is on npm as a pure module. You should be able to depend on that to build your integration

[2016-04-17 11:04] hunkim opened #111 "Customized message in the config file (.mention-bot)?"
To customize msg, we need to modify the code:
[code]
It's simple enough, but requres to run their own bot servers.

Why don't we just add it in the config file (.mention-bot)?
[code]

[2016-04-17 13:52] vjeux commented on #111
Because the handling of the message involves pluralization and english thing like "and". But I agree that would be nice to have a small config like this if you don't intend to change it dramatically

[2016-04-17 14:06] hunkim commented on #111
I'll try to come up with a PR (with a minimal change). :-)

[2016-04-17 14:52] hunkim commented on #111
@vjeux, I put some thoughts. First, we can remove pluralization -- keep it simple. So the conf file would be:
[code]
In the code, we just replace '@pullRequester' and '@reviwers'. Very simple.

The second way is implementing the pluralization getting /singular/plural/ words. For example, the message would be:

`"message": "we identified @reviwers to be /a// potential /reviewer/reviwers/.",  `

Bas

[2016-04-17 14:59] vjeux commented on #111
first one seems simpler and likely going to solve the problem

[2016-04-18 12:49] hunkim commented on #94
@SuriyaaKudoIsc Did you make any changes in the code? Did you try the local test?

[code]

I just run my own mention-bot, and it was successful.

[2016-04-18 12:53] #111 closed

[2016-04-18 15:02] SuriyaaKudoIsc commented on #94
@hunkim I did some changes at https://github.com/bunto/mention-bot (commit history: https://github.com/bunto/mention-bot/commits/master).

----

I get this error output in my Windows 10 CMD:

[code]

[2016-04-18 22:58] hunkim commented on #94
@SuriyaaKudoIsc Thanks for the information. You need to make sure your changes pass the local tests. Good luck!

[2016-04-19 13:05] SuriyaaKudoIsc commented on #94
I think that *Windows is not supported* for the **`flow` npm dependency** because I get this error:

[code]

[2016-04-19 13:21] hunkim commented on #94
@SuriyaaKudoIsc Can you test your mention-bot in Linux or AWS EC2? I really think you should be able to run tests after modifying source code.

[2016-05-02 12:46] arrrnas commented on #76
any update on this?

[2016-05-02 22:38] lilnate22 opened #117 ".mention-bot file not being read?"
I have a `.mention-bot` file that has the following:

     "actions": ["opened", "synchronize"] // List of PR actions that mention-bot will listen to, default is "opened"
}

however, it seems the file is not being loaded, as it ignores PR with syncronize (info message and all)

also the message that gets posted is different from the one listed in `.mention-bot`

[2016-05-03 04:06] brupm commented on #117
Look for syntax error in the json, had that happen to me. The error message doesn't make that clear.

[2016-05-04 13:15] hansott opened #118 "Feature Request: Config option to ignore already assigned PR's"

[2016-05-04 14:05] lilnate22 commented on #117
unfortunately that does not seem to be it.

[code]

is valid according to my parser....but mention-bot doesn't seem to care, since the message it posted doesnt have the custom message as above.

[2016-05-04 14:14] hunkim commented on #117
@lilnate22 I am not sure the running bot is using the current master version. @vjeux , can you verify?

[2016-05-04 14:29] lilnate22 commented on #117
So here is what i did:

Git clone repo, vi .mention-bot

(then I use pm2 to start mentionbot)

according to README, that should be it right?

[2016-05-04 19:39] vjeux commented on #117
Should be good

[code]

[2016-05-04 20:28] lilnate22 commented on #117
@vjeux  i am not using the heroku.

i tested on /23 and it didnt even use the message on .mention

[2016-05-08 10:48] erlend-sh opened #119 "Only activate mention bot on PRs without comments"
We've been testing Mention bot for discourse/discourse and we're enjoying it. But I think the bot is a bit quick to spring into action. Most PR's will have eyes on it within 48 hours, so the extra mention will oftentimes be redundant. I was wondering if it'd be possible to have a configuration that makes it so that:

Bot will not mention developers unless:

- PR is 3 days old AND
- PR has not yet

[2016-05-08 11:12] hunkim commented on #118
It's a good idea.

[2016-05-08 11:17] hunkim commented on #119
It's a good idea, but current mention bot acts on the PR hook. To implement this, I guess we need a server to periodically check PR status.  @vjeux, are there any simple ways to implement this?

[2016-05-08 13:21] vjeux commented on #119
I'm happy to accept this if you implement it, but I'm not going to myself :)

[2016-05-08 13:24] vjeux commented on #119
@hunkim yeah, would need to build some sort of cron that checks if the pr is old, not been checked yet and has no comments from the org owner and then use the cli api for the bot to run it

[2016-05-08 13:26] vjeux commented on #119
Also note that the bot checks the blame against master, so if you do it a week after, it is probably going to return incorrect results. A safer solution would be to run the bot instantly and store the people that it would have mentioned and then x days after, comment with those people.

[2016-05-08 21:44] erlend-sh commented on #119
Thanks for all the input! It sounds like the periodic checks would be the hardest part to this. Perhaps an acceptable trade-off could be:

- Run the bot upon each new PR and store the reply, like @vjeux described.
- After 3 days, check status of PR. If status is OPEN, mention-bot will comment.

[2016-05-08 22:43] vjeux commented on #119
What you are asking for is pretty easy. I'm sure that you can get it working if you spend an hour or two

[2016-05-09 06:57] hunkim commented on #119
@erlend-sh it's a good idea. You may use https://www.npmjs.com/package/node-schedule to implement the "After 3 days..." part.

[2016-05-09 07:00] hunkim commented on #117
@lilnate22 Any luck? I think we should add `console.log` to check the configration and `.mention.bot` file.

[2016-05-09 17:51] lilnate22 commented on #117
@hunkim  nope. no luck. I added the file params manually to server.js default.

but the mention-bot config file is not being read at all (evident by the fact the custom message is not getting displayed)

[2016-05-09 19:59] mlbright commented on #117
The sample config file has comments in it. JSON parsers often can't handle comments, and I think this is the case here. Try removing all the comments from your `.mention-bot` file.

[2016-05-09 20:08] #118 closed

[2016-05-09 21:05] hunkim commented on #117
@mlbright I noticed this too. I think we need to remove comments in the example config file. Also, we may need to capture the JSON parsing error and log it.

[2016-05-09 21:22] lilnate22 commented on #117
sorry fellas i already did remove the comments, and as far as i can tell it passes json validators

[2016-05-10 13:51] mattpickle opened #121 "Feature Request: Skip PR based on Title"
## Configuration

*.mention-bot*
[code]

Using the above configuration (or something similar) would not mention reviewers if the PR Title contains **WIP**.

[2016-05-10 14:09] vjeux commented on #121
Would be useful! Happy to merge this if you send a pull request

[2016-05-10 14:28] lilnate22 commented on #117
`{
  "maxReviewers": 5,
  "numFilesToCheck": 10,
  "message": "@pullRequester, thanks! @reviewers, please review this.",

  "alwaysNotifyForPaths": [
    {
      "name": "ayjee",
      "files": ["**/*.less"]
    }
  ],
  "fallbackNotifyForPaths": [
    {
      "name": "ghuser",
      "files": ["**/*.less"]
    },
{
  "name": "ghuser",
   "files": ["**/sear*/*.js"]
},
{
 "name": "ghuser",
  "files"

[2016-05-10 15:47] hansott commented on #121
Would like to implement it! What about a regex as config value?

[2016-05-10 15:49] mattpickle commented on #121
@hansott Regex would be cool too.  Would be overkill for what we plan to use, but I could definitely see the use.

[2016-05-10 15:51] hansott commented on #121
We use labels for "QA", "Work in progress", ... etc. Skip PR's with specific labels could also be an option?

[2016-05-10 15:55] hunkim commented on #121
IMHO, a simple keyword in the title would be a good start. Let's keep it simple. :-)

[2016-05-12 17:03] zoidbergwill commented on #76
Hi @caarlos0

Shouldn't https://github.com/facebook/mention-bot/compare/master...caarlos0:cookie?expand=1#diff-075b835dda5f5878dfe639e1b26406c6R442 be `${targetBranch}`?

[2016-05-12 17:08] caarlos0 commented on #76
@zoidbergwill yeah, I need to continue working on that actually..

[2016-05-17 12:46] hunkim commented on #121
@mattpickle Please let me know if you need any help on this. I think it's a simple change.

[2016-05-17 20:47] KrishMunot commented on #121
@hunkim I would love to take point for this issue and would appreciate any sort of help. :)

[2016-05-17 20:49] mattpickle commented on #121
@KrishMunot I'm cool with that.  Haven't had a chance to start yet.

[2016-05-17 21:20] hunkim commented on #121
@KrishMunot Cool! I think you can start with the configuration in server.js:

[code]
Then, before bot fires the comment, add one if condition based on the condifuration:

[code]

I gues that's it. Look forward to your beautiful PR.

@vjeux, please correct me if I miss something.

[2016-05-18 07:52] SuriyaaKudoIsc commented on #94
I already published bunto-mention-bot on Heroku (Linux Container).

[2016-05-19 10:13] erlend-sh opened #124 "Don't mention if PR author is a project-member"
It'd be nice to have a setting for the following.

If a project owner or collaborator is the one submitting a PR, mention-bot should remain silent. Something like:

[code]

Here's an example of such an unwanted scenario:

https://github.com/discourse/wp-discourse/pull/197

In many projects it should be safe to assume that a collaborator knows the project well enough to dish out mentions themselves

[2016-05-19 13:26] vjeux commented on #124
Sounds like a great idea indeed. I'd take it if you send a pull request

[2016-05-19 15:01] KrishMunot commented on #121
Thanks, @hunkim , I just made a PR [here](https://github.com/facebook/mention-bot/pull/125).
Do you mind reviewing it?

[2016-05-19 20:33] erlend-sh commented on #124
Great. I'm talking to a dev who might be able to help out.

[2016-05-20 04:07] tractorcow opened #126 "Feature request: non-repository specific blocklist"
If I don't want someone to talk to me, I don't want to have to declare where they are not allowed to talk to me; I simply want that user to know that I don't want to mentioned in ANY context.

The problem with this is that I have to declare this everywhere I have ever made a commit.

Can we please have some kind of global ignore list that mention-bot draws from, even if that's another (single) rep

[2016-05-20 12:31] wkentaro opened #127 "Feature request: Add option to assign the most appropriate reviewer for the PR"
Currently it only mentions for potential reviewers, I'd like to have the option to assign one of them.
Any idea about this?

[2016-05-20 13:53] vjeux commented on #127
If you implement it, I'll be glad to accept it :)

[2016-05-20 14:03] vjeux commented on #126
Hey! This is absolutely a legitimate concern. As with any bot that sends email notifications, there should be a way to turn it off.

I've been thinking about many ways to achieve this:
- as you suggested, a git repo where you can send a pull request. The issue with this is that it's a lot of steps to unsubscribe. Ideally i'd like it to be a one click operation.
- a website where you can unsubscrib

[2016-05-20 14:56] wkentaro commented on #127
Thanks, I will try.

[2016-05-20 18:35] #127 closed

[2016-05-21 08:08] dhensby commented on #126
This is a legitimate concern - under various "CAN-SPAM" legislation there has to be a way to unsubscribe. Individually maintaining this via a committed file is a laborious way of doing so (as agreed in this thread).

The most useful thing I would imagine is a website you go to, authorise with GH and then either opt out of any mention, vendors or just individual projects.

For the time-being, block

[2016-05-21 08:12] dhensby commented on #126
Heh, I just realised that blocking the bot is only suitable for people who NEVER want to hear from the bot but not those that just don't want to from specific projects. So maybe it's not a suitable solution :/

[2016-05-22 15:09] saiqulhaq commented on #119
I'm working on a PR for this; would you mind just telling me if I'm on the right path here?
This is [my working branch](https://github.com/saiqulhaq/mention-bot/tree/delayedJob) for this issue

[2016-05-22 20:51] tractorcow commented on #126
I would go for the second option.

If you can simply use your github login, then the only user experience issue would be the initial permission assignment to your account. You can expect most of us would remain logged in to github most of the time anyway. :)

Perhaps the first time that mention-bot ever mentions a user, it also sends them an email with a single-click opt out link?

[2016-05-22 20:58] dhensby commented on #126
How could mention bot email you? Inspect the commits? Some might be no reply email addresses, especially on public repos.

Mention bot doesn't email themselves, it's through GH notifications, isn't it?

[2016-05-23 11:40] tractorcow commented on #126
I'm not sure, but I guess it would have to be via github.

[2016-05-24 06:37] SuriyaaKudoIsc commented on #94
But it doesn't worked.

[2016-05-25 11:30] wedneyyuri commented on #109
+1 Our company is using the self hosted version of bitbucket.

[2016-05-25 19:31] vjeux commented on #121
It's in, thanks @mattpickle !

[2016-05-25 19:31] #121 closed

[2016-05-25 19:40] vjeux commented on #126
I've added a repo called <strong>how-to-unsubscribe</strong> on the mention-bot account. It should fix your use case. If the project gets a wider adoption, we'll probably want to invest in more fine-grained control but that is out of scope for me now.

<img width="636" alt="screen shot 2016-05-25 at 12 38 55 pm" src="https://cloud.githubusercontent.com/assets/197597/15553794/ab9a6e08-2275-11e6-923

[2016-05-25 19:40] #126 closed

[2016-05-25 19:44] vjeux commented on #76
I'm going to close this one down until progress is made. Please feel free to open a new one in the future :)

[2016-05-25 19:44] #76 closed

[2016-05-25 19:45] vjeux commented on #94
I'm sorry but I don't have the time to help you investigate what is going wrong :( I'm going to close down this issue, but feel free to keep posting here and others to help out.

[2016-05-25 19:45] #94 closed

[2016-05-25 19:46] vjeux commented on #117
I'm sorry but I don't have the time to help you investigate what is going wrong :( I'm going to close down this issue, but feel free to keep posting here and others to help out.

[2016-05-25 19:46] #117 closed

[2016-05-25 19:47] vjeux commented on #100
I'm sorry but I don't have the time to help you investigate what is going wrong :( I'm going to close down this issue, but feel free to keep posting here and others to help out.

[2016-05-25 19:47] #100 closed

[2016-05-25 20:30] dhensby commented on #126
Thanks for that @vjeux

Though it doesn't solve the following two scenarios:

- Projects want 3 _useful_ members of the team mentioned
- Users want to be mentioned on some projects but not others

[2016-05-25 20:33] vjeux commented on #126
For 1), I'd recommend adding a setting in mention-bot to filter people you want.

For 2), yeah it's unfortunate. We'd need something more sofisticated that I won't have the time to work on anytime soon.

[2016-05-25 21:11] dhensby commented on #126
I wasn't aware this was possible, but we want to avoid adding `.mention-bot` files to all our repos and the overhead that comes with keeping those consistent over 80 repositories.

I/we don't expect this to be added or sorted immediately, but we do want to raise it as a concern.

We'll look at running our own bot where we automatically set some of the standard filters.

[2016-05-26 03:45] tractorcow commented on #126
Thanks @vjeux, I'm happy with this resolution. :) I agree that fine-grained control can be a nice end goal, but is not necessary to solve the problem I initially raised.

[2016-05-26 10:16] SuriyaaKudoIsc commented on #94
:+1: Ok.

[2016-05-26 22:33] rebornix opened #133 "Add support for language detection"
We are maintaining popular projects, there might be non-English speakers come to the repo and file issues using French, Spanish, German, Italian, CJK, etc to describe their problems. Of course we should encourage users to translate their issues before posting, but this problem always happens. So I'm thinking if there is any chance that we can add language detection to mention-bot and add a separat

[2016-05-27 00:50] vjeux commented on #133
Mention bot works only on pull requests and analyze the blame to figure out who should be reviewing it. I have a lot of ideas for how to deal with issues but this is out of scope for this project.

I would encourage you to start your own bot and do that. It shouldn't be very difficult to implement and has the potential to be highly impactful!

[2016-06-01 09:27] jihungen opened #134 "Is mention-bot account alive?"
I found that the mention-bot is very useful. So, I have investigated the mention-bot for research purpose. I checked the PRs that the mention-bot helped to identify the reviewers.

However, all the messages generated by mention-bot account (www.github.com/mention-bot) disappeared since yesterday. As far as I know, this project also uses mention-bot account (www.github.com/mention-bot) to identify

[2016-06-01 09:47] erlend-sh commented on #124
Done in #132

[2016-06-01 09:47] #124 closed

[2016-06-01 09:47] erlend-sh commented on #119
Done in #132

[2016-06-01 09:47] #119 closed

[2016-06-01 12:19] wkentaro commented on #134
same problem.

[2016-06-01 16:48] domenkozar commented on #134
cc @vjeux

[2016-06-02 19:16] defunctzombie opened #136 "Is GITHUB_USER and GITHUB_PASSWORD required for GHE?"
I don't understand why these two environment vars are required when the GITHUB_TOKEN var is present and can be used to provide the access needed. I am trying to get mention bot working on GHE and want to make sure that I configure it properly. I have made the expected config file changes but this last part with the env vars is confusing. Which parts apply to GHE vs the public instance.

[2016-06-02 20:25] vjeux commented on #136
Unfortunately, there is no github api to fetch the blame information, so we are using the normal user login flow and parsing out the html.

If you know of a better way, please let me know!

[2016-06-02 20:25] #136 closed

[2016-06-06 14:38] vjeux commented on #134
Grrr, must have been caught again by github bot detection. I'll re-submit a request when I get back home.

[2016-06-09 12:17] aspiers commented on #136
Why not just clone the git repo and then run `git blame` on it? Sounds a lot nicer than parsing HTML responses from github.

[2016-06-09 12:17] aspiers commented on #134
Can we expect this to be working again now? Thanks!

[2016-06-09 12:24] aspiers opened #139 "support for multiple assignees"
Firstly, mention-bot is awesome!!  It's almost exactly what I was about to build, so I'm delighted to have found it - thanks a lot for sharing :)

GitHub recently added support for simultaneously assigning up to 10 people to a pull request:

- https://github.com/blog/2178-multiple-assignees-on-issues-and-pull-requests

It would be great if mention-bot supported this too.  Of course it raises the q

[2016-06-09 12:34] aspiers opened #140 "glob syntax is undocumented"
The glob syntax supported for `alwaysNotifyForPaths` etc. is not documented, and since it's a somewhat extended glob dialect, this is definitely worth fixing.  I found by looking at the source that it uses [`minimatch`](https://github.com/isaacs/minimatch), so presumably we can just link to their documentation rather than needlessly duplicating what they have.

[2016-06-09 14:22] aspiers commented on #92
I'm not sure I understand correctly, but it seems to me that the title of this issue doesn't match the description.  The title contains the word "only", which suggests that this issue is about avoiding mentioning users outside the repository's organization, however that feature is already implemented and configurable via the `requiredOrgs` configuration parameter.

However the question "Is it poss

[2016-06-10 08:07] aspiers commented on #136
Oh, you already considered that - I just saw https://github.com/facebook/mention-bot/blob/master/mention-bot.js#L152

[2016-06-11 20:21] vjeux commented on #134
It got enabled back by github!

[2016-06-11 20:21] #134 closed

[2016-06-11 20:21] #133 closed

[2016-06-11 20:25] vjeux commented on #140
Good call, if you send a pull request to update the doc i'll merge it in :)

[2016-06-11 20:26] vjeux commented on #139
My usual line of thoughts for this is to implement whatever is needed for your project and avoid theorizing on what others could maybe want in the future. When that comes up, then try to adapt their use cases ;)

If you send a pull request to add support for whatever you need, I'll gladly accept it

[2016-06-11 20:32] aspiers commented on #139
Yes I think you're absolutely right :)  I was thinking about this more, and couldn't come to any conclusion other than what you've just suggested.  I have a meeting with my team next week so hopefully we should soon figure out exactly what we need and will be able to send a PR which might work for other people too.  Thanks!

[2016-06-11 20:33] aspiers commented on #134
Thanks - in the mean time it served as a good excuse to deploy my own bot, the logs from which are helping me understand how to configure it properly :)

[2016-06-11 20:38] aspiers commented on #140
There you go :)

[2016-06-11 20:41] #140 closed

[2016-06-11 20:42] vjeux commented on #139
Perfect!

[2016-06-22 00:02] rahilsondhi opened #146 "Get mentioned on commits, not just pull requests"
I'd like to "subscribe" to specific files or folders and get mentioned when they get modified on master, even if there's no PR. Is this possible with mention-bot? Is anyone else interested in this functionality?

[2016-06-22 23:50] dzenbot opened #147 "2FA Support"
Hi there 👋
This project seems amazing and I've been trying to set it up for our private repositories, but it seems like it does not support 2FA correctly. Is this something you have looked at, or are open to add support for?
Disabling 2FA for our repositories is just not an option, unfortunately.

[2016-06-23 00:20] vjeux commented on #147
I'm not planning to implement support for it as I do not have such a use case but if you make it work and send a pull request, I'd be happy to accept it

[2016-06-28 17:10] djmitche opened #149 "Getting double-notifications"
Recently the buildbot/buildbot project has started getting double mention-bot notices on our PR's, for example https://github.com/buildbot/buildbot/pull/2297.

I only see one webhook in the settings for the repository, though.

Any idea what's wrong?

[2016-07-01 19:23] #139 closed

[2016-07-01 19:25] vjeux commented on #149
This is weird, thanks for the report, I'll investigate.

[2016-07-01 19:54] vjeux commented on #149
I checked and we receive two http requests about each pull request. So it's something on the github side. Could you remove the webhook, try a pull request and maybe re-add it if it doesn't fix it. (The old reboot the computer technique and prays it works)

I looked at the logs and you are the only project I could see that behaves like this fyi.

[2016-07-02 13:27] djmitche commented on #149
Oh, ugh, there's an org hook and a repo hook.  Sorry about that!

[2016-07-02 13:27] #149 closed

[2016-07-02 13:33] vjeux commented on #149
Cool, glad you figured it out :)

[2016-07-04 10:59] awewgithub opened #152 "Bot doesnt post comment in PR"
I set up the webhooks as required and can see from the recent deliveries that bot successfully connected. But I don't get a comment in my PR.
https://github.com/awewgithub/awewtest/pull/19 that my PR where file was updated
Thanks.

[2016-07-04 17:55] awewgithub commented on #152
Small update, Run bot using heroku and this from log:
2016-07-04T17:51:32.492831+00:00 app[web.1]: > node run-server.js
2016-07-04T17:52:21.420628+00:00 app[web.1]: https://github.com/awewgithub/awewtest/pull/23
2016-07-04T17:52:21.941669+00:00 app[web.1]: Skipping because the repo is not visible from mention-bot.
But my repo is public. What could be wrong?

[2016-07-04 19:17] awewgithub commented on #152
Fixed. Problem was in incorrect config file + small count of users in project

[2016-07-04 19:17] #152 closed

[2016-07-05 22:39] kenhowardpdx opened #154 "Getting "Skipping because the repo is not visible from mention-bot""
I've created my own mention-bot instance by following the instructions in the README but I'm unable to get it working.

Here's the log from heroku after receiving a webhook on a newly created pull request.

[code]

The repo is public and I've added my user (@csgfrank) as a collaborator on the repo.

[2016-07-05 23:41] vjeux commented on #154
Hmm this is weird

[code]

this is the line that is causing the issue. I'm not really sure why it wouldn't work out of the top of my head. Could you add console.log in the path and see if there's any useful info?

[2016-07-06 00:19] kenhowardpdx commented on #154
[code]

[2016-07-06 01:10] kenhowardpdx commented on #154
I've come to the conclusion that mention-bot requires the `.mention-bot` file in the root of my project. This is not ideal. But I have the power to change it. :)

[2016-07-06 14:47] kenhowardpdx commented on #154
@vjeux After some modifications to `server.js` I was able to get this working without a `.mention-bot` file in each repository. However, the pull request I used in this example was quite large (7,843 files changed) and resulted in a maxBuffer exceeded error.

[code]

With the current code this will result in a server timeout. I'll submit a PR to let the POST return a 500 error.

[2016-07-06 16:39] vjeux commented on #154
Thanks for the pr.

Have you figured out why the mention-bot file was required? This is not expected. I'd love to fix this bug :)

[2016-07-06 22:28] kenhowardpdx commented on #154
@vjeux Sorry about the blasting of commit mentions here. I had to sync your master before making these changes.

[2016-07-06 22:34] vjeux commented on #154
No worries, I like when people are working on stuff, makes me happy :)

[2016-07-07 18:37] brettshollenberger commented on #146
+1

[2016-07-07 18:47] vjeux commented on #146
This would be very useful indeed. I have no plans of actually implementing that but I would not be opposed of accepting a pull request for it

[2016-07-09 20:52] #154 closed

[2016-07-13 21:57] ezyang opened #158 "500 error on Heroku instance"
I'm not sure if this is the right place to report, but I tried configuring MentionBot for https://github.com/haskell/cabal but did not see it work. According to GitHub there is a 500 Internal Server Error when trying to post. I have retried but the error persists.

Here is the request:

[code]

Payload:

[code]

[2016-07-17 04:50] kenhowardpdx commented on #158
I have confirmed this issue. Here's the console log:

[code]

[2016-07-17 05:00] ezyang commented on #158
FWIW, mentionbot has been working great for our subsequent PRs, so this is not a blocker for us!

[2016-07-19 15:23] smith commented on #158
I got the same error, but not running on Heroku. Looks like the place it's happening is probably here: https://github.com/facebook/mention-bot/blob/de2a15da302aad07fb246c2f5c4be85fbf2e65dd/mention-bot.js#L27

[2016-07-28 15:08] iamthemuffinman commented on #147
@dzenbot I'd be interested in trying my hand at this. I could definitely use that functionality.

[2016-08-05 12:39] tbassetto opened #160 "stdout maxBuffer exceeded when using mention-bot with GHE"
I am trying to use `mention-bot` with **a private repo** in a **GitHub Enterprise** instance and I am hitting an error. It is hard to debug unfortunately.

I have set `GITHUB_TOKEN`, `GITHUB_USER` and `GITHUB_PASSWORD`. I want to check if `mention-bot` works before deploying it in our network, so right now it is running locally and I am using `ngrok` to create a tunnel on the web to my local insta

[2016-08-05 12:42] tbassetto commented on #160
Same error if I use a `GITHUB_TOKEN` with access to private repos.

[2016-08-05 23:21] vjeux commented on #160
Can you add console.log in various places and try to figure out what is happening? I don't have access to a ghe instance unfortunately so all the code in the repo was contributed by external contributors

[2016-08-07 13:56] tbassetto commented on #160
So, 2 different issues are happening.

# Failure to find `.mention-bot` on GHE is not caught properly

On [line 151 of `server.js`](https://github.com/facebook/mention-bot/blob/de2a15da302aad07fb246c2f5c4be85fbf2e65dd/server.js#L151) the matching on the error message is way too strict :) On our instance of GHE, the message is `'{"message":"Not Found","documentation_url":"https://developer.github.c

[2016-08-07 15:20] vjeux commented on #160
Awesome investigation!

For 1), a pr would be awesome thanks!

For 2), do you know if there's a way to only get the first 1meg of data and just drop the rest? For such a big pull request we just want to get some data, processing everything is just a waste of resources.

[2016-08-10 10:52] tbassetto opened #161 "The bot doesn't parse .mention-bot from the repo"
Hi @vjeux, sorry I hadn't time to create the PR for https://github.com/facebook/mention-bot/issues/160 yet, and I haven't investigate this bug as much as I wanted either. I am leaving for vacation in 2 hours 😄

I have added a `.mention-bot` file at the root of our repo getting PRs, and saw that the bot was not using it. I checked the logs, and surely the lines "Continuing with default configuratio

[2016-08-11 04:35] vjeux commented on #161
Maybe it actually never worked...

[2016-08-11 04:35] vjeux commented on #161
Enjoy your vacation! Feel free to send this patch when you come back :)

[2016-08-23 13:52] iamthemuffinman commented on #147
I haven't had any time to work on this yet, but I was thinking about it some more. If you have 2FA enabled, in the meantime can't you just use a Personal Access Token as the password?

[2016-08-23 18:26] #161 closed

[2016-08-25 06:56] FGRibreau opened #166 "Does not work with Two-factor authentication"
Looking at `githubAuthCookies.js` I don't see how it could work with 2-factor auth, sadly that's what we use at our company.

Why precisely are USER & PASSWORD mandatories for mention-bot ? There is no way to work with private repositories through the API?

[2016-08-25 15:13] vjeux commented on #166
The github api doesn't have a way to get the blame information, so we're querying the normal website for it, which requires a normal authentication and doesn't let us use the token unfortunately :(

[2016-08-25 16:18] FGRibreau commented on #166
Oh I see! Thanks @vjeux :)

[2016-09-07 12:18] miketheman commented on #147
This was requested in #76 and was closed out. See there for prior discussion.

[2016-09-09 21:10] davido-bs opened #167 "Empty value for parameter 'user': undefined"
Running mention-bot as a Docker container for a private repo:
[code]
The Personal Access Token being used has everything (and only everything) under the "Repo" category:
``Repo`` Full control of private repositories
``repo:status`` Access commit status
``repo_deployment`` Access deployment status
``public_repo`` Access public repositories
Received this message after setting up the Webhook and open

[2016-09-09 23:17] #167 closed

[2016-09-09 23:17] davido-bs commented on #167
Misconfigured on our side; we figured it out.

[2016-09-22 12:46] chrisui opened #169 "Multiple labels support (withLabels)"
I would like to be able to have mention-bot look for multiple labels instead of just a single label.

Ie. `["rfc", "review"]`

I'm happy to submit a pr for this but was after some guidance first. Which one of these (providing you think this is reasonable) approached should I take:

a. Add `withLabels` and *maintain* support for `withLabel`
b. Add `withLabels` and *drop* support for `withLabel`
c.

[2016-09-30 07:36] waldyrious opened #171 ""annotation information" is slightly confusing"
Normally an annotation is considered to be something done manually, so I was a bit confused when I saw the default message saying that the bot analyzed "the annotation information on this pull request".

I agree with the change away from "blame" in #142, and the motivation to defer to git terminology, but I'd offer that the annotations on `git annotate` are actually generated on-the-fly when the c

[2016-09-30 08:09] waldyrious commented on #92
@aspiers I actually think both you and @vjeux may have misinterpreted what @RandomlyKnighted tried to say. The initial comment is a bit confusing indeed, but after reading it a few times what I understand is that he wants to *restrict* mentions to just members of the organization (either owners or contributors), since they have an explicit process to onboard frequent contributors from the communit

[2016-09-30 15:57] vjeux commented on #171
@waldyrious thanks for the suggestion, I'm down for it. Can you send a pull request to update it? Thanks!

[2016-09-30 15:59] vjeux commented on #92
@waldyrious thanks for the comment, now I understand it better :)

[2016-09-30 16:06] waldyrious commented on #171
Sure, that was my intention. I'll just wait a bit to see what @ZauberNerd's thinks :)

[2016-09-30 16:07] waldyrious commented on #92
happy to help, and sorry for the long comment (I didn't realize how long it was at the time 😅)

[2016-09-30 16:36] vjeux commented on #169
Hey, sorry about the long delay. I would go with `c`. I don't want to do a breaking change for this.

Feel free to send a pull request, thanks!

[2016-10-01 01:31] ZauberNerd commented on #171
@walyrious sure go ahead. That does indeed sound nicer than annotation information ;)

[2016-10-01 11:32] waldyrious commented on #171
Glad you guys agree. I'll submit the PR then.

[2016-10-01 17:10] #171 closed

[2016-10-02 17:06] aspiers commented on #92
@waldyrious You're probably right, but this would still confirm my assertion that the PR title is completely at odds with the intent of the PR. If the intent is as you describe, then the title should be something like "Mention only users who are part of a team", because a GitHub team would be the most natural way to define the list of users which @RandomlyKnighted refers to as "contributors".  How

[2016-10-02 17:55] waldyrious commented on #92
Yeah, the opening comment is definitely a little unclear :)

[2016-10-03 07:58] MartijnKaijser opened #173 "Separate repo with own config file are ignored and only one is used."
We have several repos in our organisation and have successfully added the mention-bio our main repo.
https://github.com/xbmc/xbmc/blob/master/.mention-bot

Now we added the mention-bot to one of the others as well
https://github.com/xbmc/repo-plugins/blob/master/.mention-bot
It seems however that it's ignore this separate config file as you see on the PR made below it took the config file from "xb

[2016-10-04 13:59] MartijnKaijser commented on #173
To update the issue:
It seems actually that when you have multiple mention-bot configurations in your organisation (one in each repo) it will fallback to the default configuration.

[2016-10-10 22:41] robbiet480 opened #176 "Mention Bot offline and user missing?"
Just added @Mention-Bot to @home-assistant a couple of days ago. I noticed this morning that @mention-bot hasn't been around the last few days and it's user account is now 404ing. What happened?

[2016-10-10 22:57] vjeux commented on #176
Grrr, github must have banned the bot again :(

[2016-10-10 22:59] vjeux commented on #176
Just sent a support request. In the past it took ~24h for them to reinstate the bot

[2016-10-10 23:08] robbiet480 commented on #176
@vjeux Reached out to some Github friends to see if we can move this along any faster. It's Hacktoberfest, so we have a lot of PRs coming in that need review! :)

[2016-10-11 01:34] robbiet480 commented on #176
Bot is back

[2016-10-11 02:05] robbiet480 commented on #176
@vjeux I am now seeing @mention-bot making comments on PRs again. Closing this.

[2016-10-11 02:05] #176 closed

[2016-10-11 02:28] vjeux commented on #176
Yay, thank you!

[2016-10-13 09:08] domenkozar opened #177 "User ignores stopped working."

[2016-10-13 09:09] domenkozar opened #178 "User ignores stopped working"
Given the following configuration: https://github.com/NixOS/nixpkgs/blob/master/.mention-bot

User still got mentioned on a new PR https://github.com/NixOS/nixpkgs/pull/19492#issuecomment-253322447

[2016-10-13 09:16] FRidh commented on #178
Actually, I think the whole file is being ignored. I'm in `"alwaysNotifyForPaths"` for `pkgs/top-level/python-packages.nix` and there have been several PR's this week where I wasn't notified but others were.

[2016-10-16 11:31] erlend-sh commented on #178
Yep, seeing the same thing here:

https://github.com/discourse/wp-discourse/pull/254

[2016-10-16 23:15] aspiers commented on #92
Thanks, yes much better!

[2016-10-17 09:12] #177 closed

[2016-10-17 09:13] domenkozar commented on #178
@vjeux

[2016-10-17 16:16] vjeux commented on #178
Hey, I'm sorry but I don't have the time to look into it. Would be nice if you could run your own instance and put console.log in places and troubleshot what's going on. Sorry about this!

[2016-10-18 13:13] LinusU opened #179 "SyntaxError: Unexpected token function"
When trying to require mention-bot as a module, I'm getting the following error:

[code]

My code is currently only one line:

[code]

I installed mention-bot with:

[code]

[2016-10-21 09:16] domenkozar commented on #178
@vjeux this could be duplicate of https://github.com/facebook/mention-bot/issues/173

[2016-10-21 11:18] daviddavis commented on #178
@domenkozar we only have mention-bot configured in one of our org's repos:

https://github.com/Katello/katello/blob/master/.mention-bot

But yet it's still ignoring our userBlacklist:

https://github.com/Katello/katello/pull/6408

[2016-10-25 16:24] vjeux commented on #179
Arg, looks like the transpilation step is broken before we publish to npm. @gyandeeps do you know why that would be?

[2016-10-27 18:42] mspangdal commented on #179
this effectively breaks the sample api usage,  is there a workaround for using the api?

[2016-11-16 14:34] xorgy opened #184 "Is there a way for me to stop mention-bot from mentioning me?"
There is a mention-bot instance on a project I no longer have any interest in, which keeps pulling me into PR threads. Can I, as an external user, get mention-bot to ignore me? (i.e. by sending an `@mention-bot please don't mention me!` message)

[2016-11-16 18:21] vjeux commented on #184
Unfortunately, all the settings are based on the repository and it kind of sucks to send a pull request to get you unsubscribed.

You can get rid of all the notifications at once by following those instructions: https://github.com/mention-bot/how-to-unsubscribe

I'm not really sure how to make it more obvious. Feedback welcome! Sorry about this experience :(

[2016-11-24 08:22] jeffreyleeon opened #185 "Custom config gets ignored and crash mention bot"
Problem:
Custom config gets ignored and crash mention bot if the json in .mention-bot file has trailing comma in the last attribute.

Error log:
[code]
where line 111 is
[code]

[2016-11-24 08:26] jeffreyleeon commented on #178
Tackled in https://github.com/facebook/mention-bot/pull/186.

And issue description in #185

[2016-11-24 08:26] jeffreyleeon commented on #173
Tackled in https://github.com/facebook/mention-bot/pull/186.

And issue description in #185

[2016-11-24 08:54] domenkozar commented on #178
https://github.com/NixOS/nixpkgs/blob/master/.mention-bot doesnt have one

[2016-11-24 09:36] jeffreyleeon commented on #178
@domenkozar I have just tried your configurations and it works fine even without the patch.
Sorry for bothering you, I will try if I can find out what's breaking your repo. :)

[2016-11-27 03:02] nruhe opened #187 "Having Trouble With Demo Bot"
Hey everyone! I'm having some difficulty getting the [demo](https://mention-bot.herokuapp.com) to work. I'm just trying to get it to comment so I can make some basic config files for my team.

I made a test repo [here](https://github.com/nruhe/test-mention-bot), and I opened a PR [here](https://github.com/nruhe/test-mention-bot/pull/8). I then added a webhook pointing to the bot, and I gave it the

[2016-11-27 03:24] vjeux commented on #187
Hey, thanks for reaching out!

I think that there are two issues here:

1) .mention-bot file only accepts valid json and our example in the README is not because there's a trailing comma and comments. https://github.com/facebook/mention-bot/pull/186#issuecomment-263097516 is tracking sending a message when the file has an invalid format.

2) mention-bot doesn't mention yourself. Can you find someo

[2016-11-27 03:36] nruhe commented on #187
Ah, thank you very much. I'll give that a try! :)

On a side note, do you think that #2 could be added to the readme as a note @vjeux? I can't be the only person who has gotten confused why the bot isn't responding. The demo seems to imply that it will work right out of the box for every commit.

[2016-11-27 04:03] vjeux commented on #187
Would love if you could send a pull request to put it where you would have likely read it :)

[2016-11-27 04:20] nruhe commented on #187
I'll try to make sure to do that. :)

On another note, no dice sadly: https://github.com/nruhe/test-mention-bot/pull/9

[2016-11-27 08:42] jeffreyleeon opened #188 "Leaving comment to reveal parsing error in configuration file"
getRepoConfig function throughs error when .mention-bot is an invalid JSON.
Better to notify and reveal the parsing error by leaving comments when a pr is opened.

[2016-11-27 23:04] hunkim commented on #188
I like #188, but still, we don't provide a specific error message and where the error is.

Should we consider `jsonlint.parse(json)`?

[code]

http://stackoverflow.com/questions/13323356/parsing-faulty-json-and-be-able-to-display-where-the-error-is

[2016-11-28 00:01] jeffreyleeon commented on #188
Sure! We can try to improve the catch and give a more specific error message.

[2016-11-28 06:29] jeffreyleeon commented on #188
@hunkim
I have submitted a pr (https://github.com/facebook/mention-bot/pull/190) to display the specific error message. Please check if I am understanding it correctly. Thank you. :)

[2016-12-02 11:21] shaneog commented on #166
It does now (thanks to @vjeux for pinging GitHub on Twitter!) https://gist.github.com/gjtorikian/f5b72bfbd749d71092d684fb4ff12c9b

[2016-12-07 22:43] connor4312 opened #192 "Allow the mention bot to hook into review requests in addition to of assignees"
New feature, would be nice to have in the mention bot! https://github.com/blog/2291-introducing-review-requests

[2016-12-09 16:54] vjeux commented on #192
Sounds awesome indeed! I won't have the time to work on it anytime soon but would love to see it happening.

[2016-12-14 10:41] josepjaume opened #195 "Feature: Automatically create Review Requests"
Github [recently introduced a Review Request](https://github.com/blog/2291-introducing-review-requests) feature that fits like a glove into mention-bot.

AFAIK there's no API yet, but GitHub will probably launch it sometime soon.

[2016-12-14 16:12] vjeux commented on #195
That would be awesome indeed. I won't likely implement it myself but would welcome a pull request for it

[2016-12-14 17:03] caarlos0 commented on #192
I think there is no API for that yet :/

https://developer.github.com/v3/pulls/

[2016-12-14 17:13] vjeux commented on #192
Mention-bot is already logged with a user token so we can send normal http requests like a user would if you want ;)

[2016-12-23 19:27] pep8speaks commented on #48
I am facing the same issue over heroku while deploying.

[code]

I see #49 as a fix of the issue but it's not of help for me.

Thanks in advance.

[2016-12-23 19:58] pep8speaks commented on #48
I simply added `.babelrc` file in the repository with
[code]
and the error seems to have changed to
[code]

[2016-12-26 05:27] OrkoHunter opened #196 "Repository not found for testing"
While running the mention-bot without any `GITHUB_TOKEN`, a message is displayed
[code]
However, the repository https://github.com/fbsamples/bot-testing/ does not exist and hence the test fails.

[2016-12-26 12:01] vjeux commented on #196
Thanks! Looks like this repo got turned private. I'm trying to hunt down why it happened. Sorry about that!

[2017-01-03 20:06] fredemmott commented on #196
Fixed

[2017-01-03 20:06] #196 closed

[2017-01-10 11:29] jimmidyson commented on #195
Submitted #198 for this - would be really useful.

[2017-01-10 12:03] jimmidyson commented on #192
API is available now - submitted #198 which adds option to create review requests.

[2017-01-10 17:18] #192 closed

[2017-01-10 17:18] #195 closed

[2017-01-12 17:04] jstastny opened #200 "isValid does not work for delayed"
When `isValid` method is called from https://github.com/facebook/mention-bot/blob/master/server.js#L405, if passes the `currentData`, which does not contain the data format expected by `isValid`.

I am already trying to fix this and will prepare PR. The validation will most likely have to be split to validation on PR level and validation done on the event level. The delayed function will only call

[2017-01-12 17:33] vjeux commented on #200
Good catch. I'm happy to review a pull request if you can get it working :)

[2017-01-16 12:50] caarlos0 commented on #167
What was the problem @davido-bs ?

[2017-01-19 09:57] mspangdal opened #202 "parseDiffFile stumbles over file renames"
[code]

[2017-01-19 09:58] mspangdal opened #203 "parseDiffFile stumbles when file name contains non-ascii"
diff --git adds quotes around the file name when its not pure

example:
[code]

[2017-01-19 15:13] vjeux commented on #203
Thanks for the report! Would you be interested in sending a pull request to fix it by any chance? :)

[2017-01-19 17:42] mspangdal commented on #203
@vjeux If I fix it in a satisfactory manner I will definitely contribute the fix!

[2017-01-19 17:46] vjeux commented on #203
Awesome thanks!

[2017-01-19 20:13] mspangdal commented on #203
Is it just me or is the parseBlame not getting hits anymore? Did Github change structure of blame HTML?
https://github.com/facebook/mention-bot/blame/master/mention-bot.js

[2017-01-19 20:52] mspangdal commented on #203
var re = /(<img alt="@([^"]+)" class="avatar blame-commit-avatar"|<td class="blame-commit-info")/g;

seems to work now

[2017-01-20 20:41] #203 closed

[2017-01-20 20:41] #202 closed

[2017-01-23 13:41] rochacbruno commented on #178
Same happen here https://github.com/SatelliteQE/robottelo/blob/master/.mention-bot

Even with that names in ignore list, bot keeps mentioning as you can see here: https://github.com/SatelliteQE/robottelo/pull/4217

[2017-02-12 22:44] luckydonald commented on #178
Also happening to me at https://github.com/nextcloud/server/pull/3382#issuecomment-277616965.

[2017-02-21 23:20] Nezz opened #209 "REQUIRED_ORG filters out all private members"
I set up a `mention-bot` with access to our organization and its private repositories using the following configuration:
`GITHUB_USER=bot_username GITHUB_PASSWORD=bot_pass GITHUB_TOKEN=bot_token_with_repo_scope REQUIRED_ORG=YousicianGit npm start`

However, if the `REQUIRED_ORG` is set, `metion-bot` cannot find any reviewers:
[code]

If I remove that env variable it starts to work:
[code]

I notic

[2017-02-21 23:25] Nezz commented on #209
Seems like support was added for this in https://github.com/facebook/mention-bot/pull/106, so this can be a regression.

[2017-02-24 21:04] rmg opened #211 "Hosted instance has no terms of service"
The `README.md` describes how to set up a repo to use a shared/public instance of mention-bot hosted at https://mention-bot.herokuapp.com/ which is **very cool and highly appreciated**.

It would make it even easier for foundation and corporation run OSS projects to use the bot if the instance on Heroku had some sort of terms of service that explicitly granted permission to use it instead of what

[2017-03-02 12:12] dstufft commented on #209
This does not appear to be a regression (although it is affecting us too). It appears that #106 only functions for private repositories and operates independently of the ``REQUIRED_ORG`` setting. Looking at the code it appears that the function used ``github.orgs.getForUser({ ... });`` is only capable of iterating over the *public* organizations for a user.

It seems like it would be better to use

[2017-03-02 18:11] #209 closed

[2017-03-03 15:23] mattstratton opened #214 "createReviewRequest doesn't work if findPotentialReviewers is false"
We have a content-based repo, and we need to have `findPotentialReviewers` set to `false`, and only use `alwaysNotifyForPaths`. If we set it this way, the `createReviewRequest` option does not work.

[2017-03-10 20:32] cachedout opened #216 "Delay feature breaks mention-bot"
If the delay feature is enabled, mention-bot no longer works. Instead, the logs show something similar to the following:

[code]

This appears to be because [this function ](https://github.com/facebook/mention-bot/blob/master/server.js#L410) is expecting `currentData` to contain the full payload from GitHub, which contains an `action` key. Instead, it contains only the contents of the `pull_reques

[2017-03-13 16:23] trevorcreech opened #217 "Switch from parsing github.com to GraphQL API"
This should be possible now with Github's "Early Access" GraphQL API.

Docs here: https://developer.github.com/early-access/graphql/

Sample query for blame of file at specific commit: https://gist.github.com/trevorcreech/df3b1780926b970f0f1d126eabea5aa9

[2017-03-15 06:29] mspangdal commented on #217
Nice, they have blame age readily available to incorporate into algorithm too 👍

[2017-03-15 21:03] cachedout opened #218 "Don't mention the PR creator as a potential reviewer"
IMHO, mention-bot should automatically exclude the submitter of a PR from the list of potential reviewers or at least allow an option to do so.

[2017-03-20 16:53] mspangdal commented on #218
https://github.com/facebook/mention-bot/blob/master/mention-bot.js#L608
theres code that should exclude the creator,  unless explicitly set as a fallback reviewer for the code path or similar case

[2017-03-20 16:54] cachedout commented on #218
@mspangdal Interesting. I heard about this one second-hand so I'll see if it happens again and if so, I'll re-open this issue with more details. Thanks.

[2017-03-20 16:54] #218 closed

[2017-03-22 19:05] i1skn commented on #217
Has somebody already started to work on that?

[2017-04-15 11:26] Gebon opened #219 "parseDiffFile failed"
## Given
[code]
## When
[code]

## Then
[code]
## How to fix
https://github.com/facebook/mention-bot/blob/master/mention-bot.js#L109
Change from
[code]
to
[code]

[2017-05-05 16:05] shaneog commented on #217
Linking this to the other issue: https://github.com/facebook/mention-bot/issues/166#issuecomment-264432896

[2017-05-09 14:43] zhuda opened #223 "Monitor selected branches instead of all"
Hi,
Is mention-bot possible to monitor only selected branch as PR's target/base branch? we have a stable branch and many feature branches, we don't want feature branches be monitored.

Thanks,
Danny

[2017-05-21 09:00] #223 closed

[2017-05-26 12:11] akshay0110 commented on #119
thanks For Sharing this Article <a href="http://learnhax.net/activate-facebook-bot-comments/">ACTIVATE FACEBOOK BOT COMMENTS ON FACEBOOK</a>, Its a cool trick.

[2017-06-23 20:10] SxMShaDoW opened #227 "Potential Reviewers blank when using Github Enterprise"
### Summary:
I am currently trying to use mention-bot with github enterprise and it seems to never return potential reviewers.

## `.mention-bot `
(using default config) https://github.com/facebook/mention-bot/blob/master/server.js#L126-L147

## `package.json`
[code]

#### Steps to Reproduce:
- `git clone https://github.intuit.com/facebook/mention-bot.git` and modify files above
- `docker build -t

[2017-07-11 15:39] cdrage commented on #227
@SxMShaDoW Were you able to solve this? I am experiencing a similar issue.

[2017-07-12 01:36] SxMShaDoW commented on #227
@cdrage - we forked and are troubleshooting it. We also cleaned up a lot of the code to make it more usable. We will submit a PR in the future once we determine the necessary changes (if they are needed) will try to have an update for you in the next few days.

[2017-07-12 09:24] vjeux commented on #227
Awesome, that would be more than welcome!

[2017-07-13 12:32] alex opened #230 "Public mention-bot doesn't seem to be leaving comments?"
Example: https://github.com/pyca/cryptography/pull/3779

I think it's been broken for a while, although without reviewing all our PRs I couldn't tell you exactly when.

(PS: mention-bot is really fantastic, thanks for building it and running a public one to support OSS!)

[2017-07-13 19:20] cdrage opened #231 "Mention bot not ignoring file blacklists"
For some reason fileBlacklist doesn't seem to ignore markdown files. Does this have to be *per* directory?

See: https://github.com/kubernetes/kompose/blob/master/.mention-bot

[code]

Does this have to be:

[code]

?

[2017-07-13 21:19] SxMShaDoW commented on #227
It looks like the issue is related to the headers being passed for direct curl of git blame [this section](https://github.com/facebook/mention-bot/blob/ddb76f78435dfd56d34f036ea022d7ae788657a9/githubAuthCookies.js#L26) doesn't work for that url (it works everywhere for the github api, but not a direct curl).

Looking into alternatives at the moment for the git blame. Also open to other suggestions

[2017-07-25 03:46] brettcannon commented on #230
It's been at least a month if not longer. I actually just deactivated it for CPython since it's been down for so long and no one seems to have noticed other than me.

[2017-07-25 03:46] alex commented on #230
You're not the only one! I miss it! :-)

[2017-07-25 16:33] vjeux commented on #230
Oh noes :( Would anyone be interested in fixing it and putting it back up?

[2017-07-25 16:59] alex commented on #230
@vjeux is that directed at the other mention-bot maintainers? I don't think those of us who are merely consumers of it have any way to know how it broke :-)

[2017-07-25 17:30] vjeux commented on #230
You can run a local version via heroku and see what happens.

[2017-07-27 16:02] rochacbruno commented on #230
Any of you deployed in heroku to see if it works? is that working?

[2017-08-19 08:32] martinvw commented on #230
@vjeux it also fails for us for some time already, but heroku page looks happy:

[code]

Maybe the GitHub api changed?

[2017-08-31 19:17] blueyed commented on #230
Also existing comments seem to have been deleted?!

[2017-09-28 15:21] rallytime commented on #230
Mention bot was working for us, and has been for about 6 months, until a couple of days ago. (We are self-hosting, no changes to the bot recently.)

The payloads are being delivered to the bot just fine, and the bot receives them. Something is going wrong when the bot tries to analyze the reviewers:
[code]
This PR should have had reviewers ^^ and the bot hasn't been commenting on PRs since then. T

[2017-10-02 17:43] neolit123 commented on #230
we also have been experiencing the bot not working in public project, but *suddenly*, today it decided to post after a new PR. no changes have been made on our side.

can someone explain why this might happen?

[2017-10-02 17:48] vjeux commented on #230
Sorry about that. What happened is that Github banned the bot account and I contacted their support to re-enable it, which they just did.

[2017-10-02 17:48] #230 closed

[2017-10-02 17:56] neolit123 commented on #230
@vjeux
thanks a lot for the reply on this!

[2017-10-08 19:10] neolit123 commented on #230
@vjeux
hi, the bot stopped working again.
we had something like 10 PR in the past week and the bot did not post in any of them. :(

[2017-10-10 16:06] rallytime commented on #230
This isn't working for us either. The bot never did start working for us again and I haven't seen it working since my last post, unfortunately.

[2017-11-02 19:59] nitay opened #235 "Not Found error on every Pull Request"
I have mention bot setup with a user in my org that has access to the private repo in question. I set GITHUB_TOKEN, GITHUB_USER, and GITHUB_PASSWORD. The server logs in fine, and the webhook seems to be triggering appropriately. However every time there's an open pull request nothing happens on the PR, and the message bot log dumps this error:

[code]

[2017-12-05 10:21] sugarcrm-mention-bot opened #238 "Login to <mention-bot-username> failed"
I've been using mention-bot for a couple years now, I'm running it on heroku against a private repo without a problem until a few weeks ago where out of nowhere it started failing on login (here's the error message: https://github.com/facebook/mention-bot/blob/master/githubAuthCookies.js#L89) thus not leaving comments on PRs.

The weird thing is that none of the environment settings, `GITHUB_PASSW

[2017-12-06 08:40] #238 closed

[2017-12-06 19:15] jcsmorais opened #240 "Login failed"
While running mention-bot I get the following message saying that the login failed:

[code]

After further investigation the failure seems to be within `githubAuthCookies.js` where we're trying to login on GH "manually" by supplying a CSRF token from GH login form and username/password. The problem that leads to the login failure seems to be related with the fact that GH has now two authenticity t

[2017-12-07 08:17] jcsmorais opened #242 "Mention-bot breaks while trying to discover team memberships"
Due to recent updates on GH APIs it seems the documentation url provided on 404's changed from `https://developer.github.com/v3` to `https://developer.github.com/v3/orgs/teams/#get-team-membership` this leads to an unexpected behavior [here](https://github.com/facebook/mention-bot/blob/master/mention-bot.js#L451) where we end up rejecting the promise and [here](https://github.com/facebook/mention-

[2017-12-07 08:39] jcsmorais commented on #235
@nitay is this still a problem for you?
It symptoms described seem similar to #243.

[2017-12-07 17:04] #242 closed

[2017-12-07 20:52] #240 closed

[2018-01-31 22:14] RuiAAPeres commented on #166
@shaneog does it you guys now support 2FA?

[2018-02-07 16:51] rallytime opened #245 "Mention Bot doesn't work with GitHub's CODEOWNERS file"
If you have a CODEOWNERS file in place, as we do [here](https://github.com/saltstack/salt/blob/develop/.github/CODEOWNERS), the `action` that GitHub assigns in the webhook payload is `review_requested` instead of `opened`. Therefore, mention bot skips the PR, even though it is a newly "opened" PR.

While adding `review_requested` to the check where the PR is skipped if the action != `opened` is th

[2018-03-07 09:02] talarari commented on #245
We have a monorepo with CODEOWNERS file and would love to have the bot just read that file and use it instead of fallbackNotifyForPaths.

[2018-04-16 09:48] NARKOZ commented on #230
@vjeux the bot still doesn't work.

[2018-04-16 16:58] vjeux commented on #230
Sorry about this everyone. I don't have time to maintain it. I just moved the whole repo to facebookarchive/

[2018-06-20 03:11] nitay commented on #235
@jcsmorais I updated our mention-bot to latest verison and am still seeing the error

[2018-06-20 06:49] jcsmorais commented on #235
@nitay I can tell you that until ~ January 2018 this was working for me.
I'm no longer using mention bot on my current company so I can't really confirm - but maybe the [API error message changed again](https://github.com/facebookarchive/mention-bot/pull/243/files#diff-075b835dda5f5878dfe639e1b26406c6R451), have you checked that?

[2018-06-20 12:31] nitay commented on #235
k I'll take a look - is there another tool you're using instead @jcsmorais? I noticed mention-bot is archived/deprecated at this point

[2018-06-23 06:20] jcsmorais commented on #235
@nitay nop, I changed companies recently and at my current company we don't need anything like that.

[2018-11-27 20:12] webknjaz opened #248 "Add archived label"
Hey @JoelMarcey, you can go to the repo settings and hit "Archive this repository" button. This way it'll be more visual (BIG YELLOW BANNER AT THE TOP) than that string in README...

[2018-11-27 21:19] JoelMarcey commented on #248
I meant to do that. Just lost track. Thanks for the reminder. I will do it right now.

[2018-11-27 21:19] #248 closed, assigned to nobody